.api-reponse {
  padding-top: 1rem;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
}

#onemap {
  width: 100%;
  margin: auto;
  overflow: hidden;
  .leaflet-control-container {
    pointer-events: none;
    font-size: 0.8rem;
    * {
      pointer-events: auto;
    }
    > * {
      max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
    width: 70%;
  }
}

#mapdiv {
  height: 500px;
  @media (max-width: 1024px) {
    .leaflet-map-pane {
      top: -55px !important;
    }
  }
}

.leaflet-control {
  z-index: 1;
}

.leaflet-container {
  background: #bed3f8;
  font-size: 16px;
  font-family: "roboto";
}

.leaflet-top, .leaflet-bottom {
  z-index: 80;
}

.popup-info {
  overflow: hidden;
  font-size: .875rem;
  hr {
    margin-top: 0;
  }
  &.dengue-cluster {
    background: #ddd;
    padding: 0;
    margin-right: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    float: none;
    max-width: 450px;
    @media (max-width: 768px) {
      max-width: 85vw;
    }
  }

}

// dengue cluster tab
.tab-nav {
  display: flex;
  .tab-button {
    background: none;
    padding: 0.5rem 1rem;
    border: 0;
    &.is-active {
      background: white;
      color: $nea-blue;
    }
  }
}

#popup-toggler {
  display: inline-block;
  position: relative;
  margin-left: auto;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem; 
  &::before, &::after {
    content: '';
    background: black;
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
  }
  &::before {
    transform: rotate(135deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

.tab-item {
  background: white;
  padding: 1rem;
  max-height: 350px;
  overflow: auto;
  p {
    word-break: break-word;
  }
  table {
    th {
      border-bottom: 1px solid #333;
      line-height: 1.2;
    }
    th, td {
      padding: 0.5rem;
      vertical-align: top;
    }
    ul {
      list-style: '- ';
      padding-left: 0.5rem;
      li {
        line-height: 1.2;
      }
    }
  }
}

// hawker centres
.hawkers {
  .leaflet-left {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .search-tooltip {
    margin-top: 0;
    font-size: 0.8rem;
  }
  .leaflet-control-search.search-exp input.search-input {
    width: 250px;
  }
}

.alphaListing {
  display: flex;
  padding: 0;
  margin: auto;
  padding: 1rem 0;
  li {
    list-style-type: none;
    padding: 0 0.25rem;
    a {
      padding: 0.25rem 0.5rem;
      text-decoration: none;
      transition: all 0.3s;
      &:hover, &.is-active {
        background: $nea-blue;
        color: white;
      }
    }
  }
}

// ornsz
.ornsz {
  .popup-info {
    img {
      height: 180px;
      width: 100%;
      object-fit: cover;
    }
  }
}
.onemapDetail {
  background: white;
  font-size: 0.8rem;
  box-shadow: 0 3px 14px rgb(0, 0, 0, 0.4);
  padding: 0.5rem;
  padding-right: 1.2rem;
  border-radius: 5px;
  a.leaflet-popup-close-button {
    padding: 5px;
    height: auto;
  }
}

// after death
hr {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.leaflet-popup-content {
  font-size: 0.8rem;
  p {
    margin: 0 0 1rem;
  }
}

.info {
  max-height: 180px;
  overflow-y: auto;
  padding-left: 1rem;
}

