$bg-grey: #fafafa;
$nea-blue: #006fa1;
$nea-green: #bed73b;
$nea-dark-green: #008800;

html {
  font-size: 100%; // 1rem is 16px;
}

body {
  font-size: 1rem;
  background: $bg-grey;
  font-family: 'Roboto';
}

main {
  padding: 2rem 0;
}

// homepage
.cards-group {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -0.5rem;
  .card-container {
    padding: 0.5rem;
    flex-basis: 100%;
    display: flex;
    @media (min-width: 576px) {
      flex-basis: 50%;
    }
    @media (min-width: 768px) {
      flex-basis: 33.333%;
    }
  }
  .card {
    overflow: hidden;
    text-decoration: none;
    color: var(--bs-body-color-rgb);
    background: white;
    transition: all 0.5s;
    .card-img {
      overflow: hidden;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      img {
        width: 100%;
        transition: all 0.5s;
      }
    }
    .card-info {
      padding: 0.5rem 1rem;
      transition: all 0.5s;
      p {
        margin: 0;
      }
    }
    &:hover {
      background: $nea-blue;
      .card-img {
        img {
          scale: 1.05;
        }
      }
      .card-info {
        color: white;
      }
    }

  }
}

.nav-tabs {
  .nav-link {
    border-radius: 0;
    color: black;
    background: #ddd;
    &.active {
      color: $nea-blue;
    }
  }
}
.tab-content {
  background: white;
  padding: 1rem 0;
  .tab-pane {
    padding: 0 1rem;
  }
}
.tab-list {
  margin: 0 -1rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  // border-top: 1px solid #eee;
  // border-bottom: 1px solid #eee;
  .nav-link {
    border-radius: 0;
    background: white;
    border: 1px solid #eee;
    flex-basis: 20%;
    padding: 0.5rem 0;
    &.active {
      border-bottom: 1px solid #eee;
      background: $nea-blue;
      color: white;
    }
  }
  
}

.navbar-dark {
  background: $nea-green;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  .dropdown-item {
    padding: 0.5rem 1rem;
    &:hover, &:focus {
      color: white;
      background: $nea-blue;
    }
  }
}

footer {
  background: $nea-blue;
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  p {
    display: inline-block;
  }
  a {
    color: white;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    &:hover {
      color: $bg-grey;
    }
  }
}

@import 'onemap';
@import 'weather';