$bg-grey: #fafafa;
$nea-blue: #006fa1;
$nea-green: #bed73b;

html {
  font-size: 100%; // 1rem is 16px;
}

body {
  font-size: 1rem;
  background: $bg-grey;
}

main {
  padding: 2rem 0;
}

// homepage
.cards-group {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -0.5rem;
  .card-container {
    padding: 0.5rem;
    flex-basis: 100%;
    @media (min-width: 576px) {
      flex-basis: 50%;
    }
    @media (min-width: 768px) {
      flex-basis: 33.333%;
    }
  }
  .card {
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: var(--bs-body-color-rgb);
    .card-img {
      overflow: hidden;
      img {
        width: 100%;
        transition: all 0.5s;
      }
    }
    .card-info {
      padding: 0.5rem 1rem;
      background: white;
      transition: all 0.5s;
      p {
        margin: 0;
      }
    }
    &:hover {
      .card-img {
        img {
          scale: 1.05;
        }
      }
      .card-info {
        background: $nea-blue;
        color: white;
      }
    }

  }
}

.navbar-dark {
  background: $nea-green;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  .dropdown-item {
    padding: 0.5rem 1rem;
    &:hover, &:focus {
      color: white;
      background: $nea-blue;
    }
  }
}

footer {
  background: $nea-blue;
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  p {
    display: inline-block;
  }
  a {
    color: white;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    &:hover {
      color: $bg-grey;
    }
  }
}

@import 'onemap';